<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Cadastrar Projetos</span></li>
				</ul>
				<a class="btn btn-primary btn-md" href="/tipo_projeto/listar"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span>Listar Tipo de Projetos</span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">
		<!--  @{/tipo_projetos/salvar}
		th:action="${departamento.id == null} ? @{/departamentos/salvar} : @{/departamentos/editar}"
		-->
			<form th:action="${departamento.id == null} ? @{/departamentos/salvar} : @{/departamentos/editar}" 
				th:object="${tipoProjeto}"
				method="POST">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nome">TipoProjeto</label> <input type="text"
							class="form-control" id="nome" placeholder="Nome Tipo de Projeto"
							autofocus="autofocus" th:field="*{nome}" />
					</div>
				</div>
				<!-- --> 
				<input type="hidden" id="id" th:field="*{id}" th:value="*{id}" />
				
				   
				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
			</form>

		</div>
	</section>
</body>
</html>
